body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    height: 111vh;
    margin: 0;
    background-color: #b6d5b6;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: beige;
}

h1 {
    color: darkslategray;
    font-size: 2em;
}

select, button {
    padding: 11px;
    margin: 11px 6px;
    border-radius: 6px;
    border: 2px solid #ddd;
    font-size: 1em;
}

button {
    background-color: beige;
    color: antiquewhite;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

.message-box {
    margin-top: 22px;
    font-size: 2em;
    color: bisque;
    font-style: italic;
    transition: all 0.3s ease;
}